body{
	margin: 0;
	padding: 0;
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	font: 15px "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	overflow-y: hidden;
}
::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    background-color: #999;
}
.breadcrumb {
    padding: 10px 0 10px 20px;
    margin-bottom: 0px;
    list-style: none;
	background-color: #f5f5f5;
}
.breadcrumb>li {
    display: inline-block;
	font-size: 14px;
}
.breadcrumb > li + li:before {
    color: #222;
    content: "/ ";
    padding: 0 2px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.p20{
	padding: 20px;
}
.p30{
	padding: 20px 30px;
}
.form-label {
    float: left;
    display: block;
    padding: 6px 0;
    width: 80px;
    line-height: 1.25;
    font-weight: 500;
    color: #37474f;
    text-align: left;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.form-horizontal .form-input {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.form-input {
    width: 100%;
    padding: .4rem .75rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
}
.form-input-block {
    margin-left: 80px;
}
.form-group {
    margin-bottom: 15px;
}
.text-red {
    color: #ff0000 !important;
}
input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #179d82;
}
.btn {
	display: inline-block;
	line-height: 1.42857143;
	padding: 6px 12px;
	color: #fff;
	white-space: nowrap;
	text-align: center;
	font-size: 14px;
	border: none;
	border: 1px solid transparent;
	border-radius: 0px;
	cursor: pointer;
}

.btn-primary {
	background-color: #1ab394;
	color: #fff;
	border-color: #179d82;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active,
	.btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus,
	.btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus
	{
	background-color: #18a689;
	border-color: #18a689;
	color: #FFFFFF;
}

.btn-default {
    background-color: #fff;
    border-color: #ccc;
	color: #333;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
	background-color: #e6e6e6;
}

.btn-group {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.btn-group>.btn {
    position: relative;
    float: left;
	top: -1px;
}

.btn+.btn, .btn+.btn-group, .btn-group+.btn {
    margin-left: 8px
}
.dropdown {
    position: relative;
}
.dropdown-menu {
	margin: 0;
	padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 100px;
	width:100%;
    padding: 5px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e4eaec;
    box-shadow: 0 3px 12px rgba(0, 0, 0, .05);
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.dropdown-menu>li>a {
    display: block;
    padding: 5px 15px;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #20a8d8;
  outline: 0;
}

.dropdown-menu .divider {
    height: 1px;
    margin: 5px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}