.breadcrumb {
    padding: 10px 0 10px 20px;
    margin-bottom: 0px;
    list-style: none;
	background-color: #f5f5f5;
}
.breadcrumb>li {
    display: inline-block;
	font-size: 14px;
}
.breadcrumb > li + li:before {
    color: #222;
    content: "/ ";
    padding: 0 2px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
    color: #337ab7;
    text-decoration: none;
}
.p20{
	padding: 20px;
}
.p30{
	padding: 20px 30px;
}
.form-label {
    float: left;
    display: block;
    padding: 6px 0;
    width: 80px;
    line-height: 1.25;
    font-weight: 500;
    color: #37474f;
    text-align: left;
	font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

.form-horizontal .form-input {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
.form-input {
    width: 100%;
    padding: .4rem .75rem;
    line-height: 1.25;
    background-color: #fff;
    background-image: none;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
}
.form-input-block {
    margin-left: 80px;
}
.form-group {
    margin-bottom: 15px;
}
.text-red {
    color: #ff0000 !important;
}
input[type=text]:focus, input[type=password]:focus {
    border: 1px solid #179d82;
}